<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista Wszystkich Otrzymanych Requestów</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />


</head>
<body>


	<div class="container">

		<div class="starter-template">
			<h1>Lista wszystkich nadesłanych requestów</h1>
			<p>
				<span th:text="${name}"></span>
			</p>
		</div>

	</div>
	<!-- /.container -->




    <table class="table table-striped">
      <tr>
          <th>id</th>
          <th>date</th>
          <th>path</th>
          <th>body</th>
          <th>method</th>
          <th>headers</th>
          <th>params</th>
       </tr>
      <tr th:each="data : ${list}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.date}"></td>
        <td th:text="${data.path}"></td>
        <td style="width:50px" th:text="${data.body}"></td>
        <td th:text="${data.method}"></td>
        <td th:text="${data.headers}"></td>
        <td th:text="${data.params}"></td>
      </tr>
    </table>


	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
